<Modal ButtonText="Sign Up" ButtonColor="" @ref="modalRef" ElementId="registerModal">
  <ChildContent>
    <p>Hello, this is register modal</p>
    
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-primary" @onclick="Register">Sign Up</button>
        <button class="btn btn-ghost">Cancel</button>
      </form>
  </ChildContent>
</Modal>
